/*token_color_2024_0617.txt*/
:root,
body[bw-theme="light"] {
  --value-black: #464f58;
  --value-white: #f4f6f7;
  --value-base-0: #ffffff;
  --value-base-50: #f4f6f7;
  --value-base-100: #e3e7ea;
  --value-base-150: #cad1d7;
  --value-base-200: #a6b3ba;
  --value-base-250: #7a8a96;
  --value-base-300: #5f6f7b;
  --value-base-350: #515d69;
  --value-base-400: #464f58;
  --value-base-450: #3e444c;
  --value-base-500: #393e44;
  --value-base-550: #22262a;
  --value-base-600: #17191c;
  --value-brand-50: #ecf9ff;
  --value-brand-100: #d5f0ff;
  --value-brand-200: #b4e7ff;
  --value-brand-300: #81daff;
  --value-brand-400: #46c2ff;
  --value-brand-500: #1ba2ff;
  --value-brand-600: #0382ff;
  --value-brand-700: #006af8;
  --value-brand-800: #0555c8;
  --value-brand-900: #0c4da2;
  --value-brand-950: #0d2d5e;
  --value-red-0: #ffdadc;
  --value-red-100: #ffb5ba;
  --value-red-200: #ff9197;
  --value-red-300: #ff6c75;
  --value-red-400: #ff4752;
  --value-red-500: #ff2330;
  --value-red-600: #d41d28;
  --value-red-700: #aa1720;
  --value-red-800: #7f1118;
  --value-red-900: #550b10;
  --value-orange-0: #ffe9da;
  --value-orange-100: #ffd4b5;
  --value-orange-200: #ffbf91;
  --value-orange-300: #ffa96c;
  --value-orange-400: #ff9447;
  --value-orange-500: #ff7f23;
  --value-orange-600: #d4691d;
  --value-orange-700: #aa5417;
  --value-orange-800: #7f3f11;
  --value-orange-900: #552a0b;
  --value-yellow-0: #fff6da;
  --value-yellow-100: #ffeeb5;
  --value-yellow-200: #ffe691;
  --value-yellow-300: #ffde6c;
  --value-yellow-400: #ffd647;
  --value-yellow-500: #ffce23;
  --value-yellow-600: #d4ab1d;
  --value-yellow-700: #aa8917;
  --value-yellow-800: #7f6711;
  --value-yellow-900: #55440b;
  --value-green-0: #dcf8da;
  --value-green-100: #baf1b5;
  --value-green-200: #98ea91;
  --value-green-300: #75e36c;
  --value-green-400: #53dc47;
  --value-green-500: #31d623;
  --value-green-600: #28b21d;
  --value-green-700: #208e17;
  --value-green-800: #186b11;
  --value-green-900: #10470b;
  --value-blue-0: #dae4f8;
  --value-blue-100: #b5caf1;
  --value-blue-200: #91afea;
  --value-blue-300: #6c95e3;
  --value-blue-400: #477adc;
  --value-blue-500: #2360d6;
  --sys-bg-primary: var(--value-base-600);
  --sys-bg-contrast: var(--value-base-0);
  --sys-op-black-2: #17191c05;
  --sys-op-black-5: #17191c0c;
  --sys-op-black-10: #17191c19;
  --sys-op-black-20: #17191c33;
  --sys-op-white-2: #ffffff05;
  --sys-op-white-5: #ffffff0c;
  --sys-op-white-10: #ffffff19;
  --sys-op-white-20: #ffffff33;
  --sys-palette-soft-red: var(--value-red-0);
  --sys-palette-soft-orange: var(--value-orange-0);
  --sys-palette-soft-yellow: var(--value-yellow-0);
  --sys-palette-soft-green: var(--value-green-0);
  --sys-palette-soft-blue: var(--value-blue-0);
  --sys-palette-soft-purple: var(--value-purple-0);
  --sys-palette-soft-wine: var(--value-wine-0);
  --sys-palette-soft-grey: var(--value-base-50);
  --sys-palette-mid-red: var(--value-red-200);
  --sys-palette-mid-orange: var(--value-orange-200);
  --sys-palette-mid-yellow: var(--value-yellow-200);
  --sys-palette-mid-green: var(--value-green-200);
  --sys-palette-mid-blue: var(--value-blue-200);
  --sys-palette-mid-purple: var(--value-purple-200);
  --sys-palette-mid-wine: var(--value-wine-200);
  --sys-palette-mid-grey: var(--value-base-150);
  --comp-text-btow: var(--value-black);
  --comp-text-btob: var(--value-black);
  --comp-text-wtob: var(--value-white);
  --comp-text-wtow: var(--value-white);
  --comp-text-wtobr: var(--value-white);
  --comp-text-brtobr: var(--value-brand-800);
  --comp-text-stos: var(--value-base-250);
  --comp-text-ttot: var(--value-base-150);
  --comp-text-dtod: var(--value-base-250);
  --comp-text-essential: var(--value-red-600);
  --comp-tag-bg-brand: var(--value-brand-900);
  --comp-tag-border-brand: var(--value-brand-100);
  --comp-menu-dept-hover: var(--value-base-50);
  --comp-menu-dept-active: var(--value-base-100);
  --comp-menu-favorite: var(--value-base-150);
  --comp-menu-favorite-hover: var(--value-base-100);
  --comp-menu-favorite-toggle: var(--value-yellow-400);
  --comp-menu-favorite-toggle-border: var(--value-yellow-500);
  --comp-surface-header: var(--value-base-250);
  --comp-surface-sidebar: var(--sys-bg-contrast);
  --comp-surface-content: var(--value-base-50);
  --comp-surface-panel: var(--sys-bg-contrast);
  --comp-surface-panel-sub: var(--sys-op-black-2);
  --comp-surface-widget: var(--sys-op-black-2);
  --comp-surface-modal: var(--sys-bg-contrast);
  --comp-surface-tooltip: var(--value-base-550);
  --comp-base: var(--value-base-450);
  --comp-base-hover: var(--value-base-400);
  --comp-base-active: var(--value-base-350);
  --comp-base-toggle: var(--value-base-350);
  --comp-base-border: var(--value-base-400);
  --comp-contrast: var(--sys-bg-contrast);
  --comp-contrast-hover: var(--value-base-50);
  --comp-contrast-active: var(--value-base-100);
  --comp-contrast-toggle: var(--value-base-100);
  --comp-surface-sidebar-border: var(--value-base-100);
  --comp-surface-content-border: var(--value-base-100);
  --comp-contrast-border: var(--value-base-150);
  --sys-palette-high-red: var(--value-red-400);
  --sys-palette-high-orange: var(--value-orange-400);
  --sys-palette-high-yellow: var(--value-yellow-400);
  --sys-palette-high-green: var(--value-green-400);
  --sys-palette-high-blue: var(--value-blue-400);
  --sys-palette-high-purple: var(--value-purple-400);
  --sys-palette-high-wine: var(--value-wine-400);
  --sys-palette-msg-danger: var(--value-red-600);
  --comp-surface-panel-border: var(--value-base-100);
  --sys-palette-msg-warning: var(--value-orange-500);
  --sys-palette-msg-info: var(--value-blue-500);
  --sys-palette-msg-success: var(--value-green-600);
  --comp-surface-widget-border: var(--sys-op-black-5);
  --value-blue-600: #1d50b2;
  --value-blue-700: #17408e;
  --value-blue-800: #11306b;
  --value-blue-900: #0b2047;
  --value-purple-0: #e9daf8;
  --value-purple-100: #d3b5f1;
  --value-purple-200: #bd91ea;
  --value-purple-300: #a76ce3;
  --value-purple-400: #9147dc;
  --value-purple-500: #7c23d6;
  --value-purple-600: #671db2;
  --value-purple-700: #52178e;
  --value-purple-800: #3e116b;
  --value-purple-900: #290b47;
  --value-wine-0: #f8daf3;
  --value-wine-100: #f1b5e7;
  --value-wine-200: #ea91dc;
  --value-wine-300: #e36cd0;
  --value-wine-400: #dc47c4;
  --value-wine-500: #d623b9;
  --value-wine-600: #b21d9a;
  --value-wine-700: #8e177b;
  --value-wine-800: #6b115c;
  --value-wine-900: #470b3d;
  --comp-contrast-border-soft: var(--value-base-100);
  --comp-primary: var(--value-brand-900);
  --comp-tag-border-red: var(--sys-palette-mid-red);
  --comp-tag-border-orange: var(--sys-palette-mid-orange);
  --comp-tag-border-yellow: var(--sys-palette-mid-yellow);
  --comp-tag-border-green: var(--sys-palette-mid-green);
  --comp-tag-border-blue: var(--sys-palette-mid-blue);
  --comp-tag-border-purple: var(--sys-palette-mid-purple);
  --comp-tag-border-wine: var(--sys-palette-mid-wine);
  --comp-tag-border-grey: var(--sys-palette-mid-grey);
  --comp-tag-bg-soft-grey: var(--sys-palette-soft-grey);
  --comp-tag-bg-soft-orange: var(--sys-palette-soft-orange);
  --comp-tag-bg-soft-red: var(--sys-palette-soft-red);
  --comp-tag-bg-soft-yellow: var(--sys-palette-soft-yellow);
  --comp-tag-bg-soft-green: var(--sys-palette-soft-green);
  --comp-tag-bg-soft-blue: var(--sys-palette-soft-blue);
  --comp-tag-bg-soft-purple: var(--sys-palette-soft-purple);
  --comp-tag-bg-soft-wine: var(--sys-palette-soft-wine);
  --comp-tag-bg-mid-grey: var(--sys-palette-mid-grey);
  --comp-tag-bg-mid-orange: var(--sys-palette-mid-orange);
  --comp-tag-bg-mid-red: var(--sys-palette-mid-red);
  --comp-tag-bg-mid-yellow: var(--sys-palette-mid-yellow);
  --comp-tag-bg-mid-green: var(--sys-palette-mid-green);
  --comp-tag-bg-mid-blue: var(--sys-palette-mid-blue);
  --comp-tag-bg-mid-purple: var(--sys-palette-mid-purple);
  --comp-tag-bg-mid-wine: var(--sys-palette-mid-wine);
  --comp-primary-hover: var(--value-brand-800);
  --comp-primary-active: var(--value-brand-600);
  --comp-primary-toggle: var(--value-brand-600);
  --comp-text-red: var(--value-red-900);
  --comp-primary-border: var(--value-brand-700);
  --comp-secondary: var(--sys-bg-contrast);
  --comp-text-orange: var(--value-orange-900);
  --comp-text-yellow: var(--value-yellow-900);
  --comp-text-green: var(--value-green-900);
  --comp-text-blue: var(--value-blue-900);
  --comp-secondary-hover: var(--value-brand-100);
  --comp-text-wine: var(--value-wine-900);
  --comp-text-purple: var(--value-purple-900);
  --comp-text-grey: var(--value-base-500);
  --comp-secondary-active: var(--value-brand-50);
  --comp-secondary-border: var(--value-brand-100);
  --comp-disabled: var(--value-base-150);
  --comp-disabled-soft: var(--value-base-100);
  --comp-disabled-border: var(--value-base-100);
  --comp-element: var(--value-base-150);
  --comp-element-hover: var(--value-base-150);
  --comp-element-toggle: var(--value-brand-800);
  --comp-scroll: var(--value-base-150);
}

:root,
body[bw-theme="dark"] {
  --value-black: #464f58;
  --value-white: #f4f6f7;
  --value-base-0: #17191c;
  --value-base-50: #22262a;
  --value-base-100: #393e44;
  --value-base-150: #3e444c;
  --value-base-200: #464f58;
  --value-base-250: #515d69;
  --value-base-300: #5f6f7b;
  --value-base-350: #7a8a96;
  --value-base-400: #a6b3ba;
  --value-base-450: #cad1d7;
  --value-base-500: #e3e7ea;
  --value-base-550: #f4f6f7;
  --value-base-600: #ffffff;
  --value-brand-50: #0d2d5e;
  --value-brand-100: #0c4da2;
  --value-brand-200: #0555c8;
  --value-brand-300: #006af8;
  --value-brand-400: #0382ff;
  --value-brand-500: #1ba2ff;
  --value-brand-600: #46c2ff;
  --value-brand-700: #81daff;
  --value-brand-800: #b4e7ff;
  --value-brand-900: #d5f0ff;
  --value-brand-950: #ecf9ff;
  --value-red-0: #550b10;
  --value-red-100: #7f1118;
  --value-red-200: #aa1720;
  --value-red-300: #d41d28;
  --value-red-400: #ff2330;
  --value-red-500: #ff4752;
  --value-red-600: #ff6c75;
  --value-red-700: #ff9197;
  --value-red-800: #ffb5ba;
  --value-red-900: #ffdadc;
  --value-orange-0: #552a0b;
  --value-orange-100: #7f3f11;
  --value-orange-200: #aa5417;
  --value-orange-300: #d4691d;
  --value-orange-400: #ff7f23;
  --value-orange-500: #ff9447;
  --value-orange-600: #ffa96c;
  --value-orange-700: #ffbf91;
  --value-orange-800: #ffd4b5;
  --value-orange-900: #ffe9da;
  --value-yellow-0: #55440b;
  --value-yellow-100: #7f6711;
  --value-yellow-200: #aa8917;
  --value-yellow-300: #d4ab1d;
  --value-yellow-400: #ffce23;
  --value-yellow-500: #ffd647;
  --value-yellow-600: #ffde6c;
  --value-yellow-700: #ffe691;
  --value-yellow-800: #ffeeb5;
  --value-yellow-900: #fff6da;
  --value-green-0: #10470b;
  --value-green-100: #186b11;
  --value-green-200: #208e17;
  --value-green-300: #28b21d;
  --value-green-400: #31d623;
  --value-green-500: #53dc47;
  --value-green-600: #75e36c;
  --value-green-700: #98ea91;
  --value-green-800: #baf1b5;
  --value-green-900: #dcf8da;
  --value-blue-0: #0b2047;
  --value-blue-100: #11306b;
  --value-blue-200: #17408e;
  --value-blue-300: #1d50b2;
  --value-blue-400: #2360d6;
  --value-blue-500: #477adc;
  --sys-bg-primary: var(--value-base-600);
  --sys-bg-contrast: var(--value-base-0);
  --sys-op-black-2: #17191c05;
  --sys-op-black-5: #17191c0c;
  --sys-op-black-10: #17191c19;
  --sys-op-black-20: #17191c33;
  --sys-op-white-2: #ffffff19;
  --sys-op-white-5: #ffffff0c;
  --sys-op-white-10: #ffffff19;
  --sys-op-white-20: #ffffff33;
  --sys-palette-soft-red: var(--value-red-0);
  --sys-palette-soft-orange: var(--value-orange-0);
  --sys-palette-soft-yellow: var(--value-yellow-0);
  --sys-palette-soft-green: var(--value-green-0);
  --sys-palette-soft-blue: var(--value-blue-0);
  --sys-palette-soft-purple: var(--value-purple-0);
  --sys-palette-soft-wine: var(--value-wine-0);
  --sys-palette-soft-grey: var(--value-base-50);
  --sys-palette-mid-red: var(--value-red-200);
  --sys-palette-mid-orange: var(--value-orange-200);
  --sys-palette-mid-yellow: var(--value-yellow-200);
  --sys-palette-mid-green: var(--value-green-200);
  --sys-palette-mid-blue: var(--value-blue-200);
  --sys-palette-mid-purple: var(--value-purple-200);
  --sys-palette-mid-wine: var(--value-wine-200);
  --sys-palette-mid-grey: var(--value-base-150);
  --comp-text-btow: var(--value-white);
  --comp-text-btob: var(--value-black);
  --comp-text-wtob: var(--value-black);
  --comp-text-wtow: var(--value-white);
  --comp-text-wtobr: var(--value-brand-50);
  --comp-text-brtobr: var(--value-brand-400);
  --comp-text-stos: var(--value-base-350);
  --comp-text-ttot: var(--value-base-450);
  --comp-text-dtod: var(--value-base-350);
  --comp-text-essential: var(--value-red-600);
  --comp-tag-bg-brand: var(--value-brand-100);
  --comp-tag-border-brand: var(--value-brand-100);
  --comp-menu-dept-hover: var(--value-base-200);
  --comp-menu-dept-active: var(--value-base-100);
  --comp-menu-favorite: var(--value-base-250);
  --comp-menu-favorite-hover: var(--value-base-300);
  --comp-menu-favorite-toggle: var(--value-yellow-500);
  --comp-menu-favorite-toggle-border: var(--value-yellow-600);
  --comp-surface-header: var(--value-base-100);
  --comp-surface-sidebar: var(--value-base-50);
  --comp-surface-content: var(--sys-bg-contrast);
  --comp-surface-panel: var(--value-base-50);
  --comp-surface-panel-sub: var(--sys-op-black-2);
  --comp-surface-widget: var(--sys-bg-contrast);
  --comp-surface-modal: var(--value-base-50);
  --comp-surface-tooltip: var(--value-base-550);
  --comp-base: var(--value-base-550);
  --comp-base-hover: var(--value-base-200);
  --comp-base-active: var(--value-base-250);
  --comp-base-toggle: var(--value-base-250);
  --comp-base-border: var(--value-base-200);
  --comp-contrast: var(--sys-bg-contrast);
  --comp-contrast-hover: var(--value-base-50);
  --comp-contrast-active: var(--value-base-100);
  --comp-contrast-toggle: var(--value-base-100);
  --comp-surface-sidebar-border: var(--value-base-100);
  --comp-surface-content-border: var(--value-base-50);
  --comp-contrast-border: var(--value-base-100);
  --sys-palette-high-red: var(--value-red-400);
  --sys-palette-high-orange: var(--value-orange-400);
  --sys-palette-high-yellow: var(--value-yellow-400);
  --sys-palette-high-green: var(--value-green-400);
  --sys-palette-high-blue: var(--value-blue-400);
  --sys-palette-high-purple: var(--value-purple-400);
  --sys-palette-high-wine: var(--value-wine-400);
  --sys-palette-msg-danger: var(--value-red-600);
  --comp-surface-panel-border: var(--value-base-100);
  --sys-palette-msg-warning: var(--value-orange-300);
  --sys-palette-msg-info: var(--value-blue-500);
  --sys-palette-msg-success: var(--value-green-600);
  --comp-surface-widget-border: var(--sys-op-white-5);
  --value-blue-600: #6c95e3;
  --value-blue-700: #91afea;
  --value-blue-800: #b5caf1;
  --value-blue-900: #dae4f8;
  --value-purple-0: #290b47;
  --value-purple-100: #3e116b;
  --value-purple-200: #52178e;
  --value-purple-300: #671db2;
  --value-purple-400: #7c23d6;
  --value-purple-500: #9147dc;
  --value-purple-600: #a76ce3;
  --value-purple-700: #bd91ea;
  --value-purple-800: #d3b5f1;
  --value-purple-900: #e9daf8;
  --value-wine-0: #470b3d;
  --value-wine-100: #6b115c;
  --value-wine-200: #8e177b;
  --value-wine-300: #b21d9a;
  --value-wine-400: #d623b9;
  --value-wine-500: #dc47c4;
  --value-wine-600: #e36cd0;
  --value-wine-700: #ea91dc;
  --value-wine-800: #f1b5e7;
  --value-wine-900: #f8daf3;
  --comp-contrast-border-soft: var(--value-base-50);
  --comp-primary: var(--value-brand-100);
  --comp-tag-border-red: var(--value-red-100);
  --comp-tag-border-orange: var(--value-orange-100);
  --comp-tag-border-yellow: var(--value-yellow-100);
  --comp-tag-border-green: var(--value-green-100);
  --comp-tag-border-blue: var(--value-blue-100);
  --comp-tag-border-purple: var(--value-purple-100);
  --comp-tag-border-wine: var(--value-wine-100);
  --comp-tag-border-grey: var(--value-base-100);
  --comp-tag-bg-soft-grey: var(--sys-palette-soft-grey);
  --comp-tag-bg-soft-orange: var(--sys-palette-soft-orange);
  --comp-tag-bg-soft-red: var(--sys-palette-soft-red);
  --comp-tag-bg-soft-yellow: var(--sys-palette-soft-yellow);
  --comp-tag-bg-soft-green: var(--sys-palette-soft-green);
  --comp-tag-bg-soft-blue: var(--sys-palette-soft-blue);
  --comp-tag-bg-soft-purple: var(--sys-palette-soft-purple);
  --comp-tag-bg-soft-wine: var(--sys-palette-soft-wine);
  --comp-tag-bg-mid-grey: var(--sys-palette-mid-grey);
  --comp-tag-bg-mid-orange: var(--sys-palette-mid-orange);
  --comp-tag-bg-mid-red: var(--sys-palette-mid-red);
  --comp-tag-bg-mid-yellow: var(--sys-palette-mid-yellow);
  --comp-tag-bg-mid-green: var(--sys-palette-mid-green);
  --comp-tag-bg-mid-blue: var(--sys-palette-mid-blue);
  --comp-tag-bg-mid-purple: var(--sys-palette-mid-purple);
  --comp-tag-bg-mid-wine: var(--sys-palette-mid-wine);
  --comp-primary-hover: var(--value-brand-200);
  --comp-primary-active: var(--value-brand-300);
  --comp-primary-toggle: var(--value-brand-500);
  --comp-text-red: var(--value-red-900);
  --comp-primary-border: var(--value-brand-200);
  --comp-secondary: var(--value-base-550);
  --comp-text-orange: var(--value-orange-900);
  --comp-text-yellow: var(--value-yellow-900);
  --comp-text-green: var(--value-green-900);
  --comp-text-blue: var(--value-blue-900);
  --comp-secondary-hover: var(--value-brand-900);
  --comp-text-wine: var(--value-wine-900);
  --comp-text-purple: var(--value-purple-900);
  --comp-text-grey: var(--value-base-500);
  --comp-secondary-active: var(--value-brand-900);
  --comp-secondary-border: var(--value-brand-800);
  --comp-disabled: var(--value-base-150);
  --comp-disabled-soft: var(--value-base-100);
  --comp-disabled-border: var(--value-base-100);
  --comp-element: var(--value-base-100);
  --comp-element-hover: var(--value-base-350);
  --comp-element-toggle: var(--value-brand-400);
  --comp-scroll: var(--value-base-150);
}
